.App {
  text-align: center;
}

p {

}

h1 {
  font-size: 35px;
  margin-bottom: -12px;
  font-family: Arial;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: ;
  color: #40403d;
}

body {
  background-color: #f5f5f5;
}

.terra-dark .nav-link{
  color: #212529;
}
.terra-body {
  margin-top: 80px;
}

.terra-right {
  text-align: right;
}

.terra-left {
  text-align: left;
}

.terra-textalert {
  font-size: 20px;
  color: #40403d;
}