.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:regular,bold,italic&subset=latin,latin-ext');

body {
  background-color: #f5f5f5;
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 35px;
  margin-bottom: -8px;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 35px;
  margin-bottom: -8px;
  color: #000000;
  text-align: left;
}

h3 {
  font-size: 15px;
  text-align: left;
}

h4 {
  font-size: 15px;
  text-align: center;
}

h5 {
  font-size: 50px;
  margin-bottom: 10px;
}

h6 {
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  color: #000000;
}

.terra-dark .nav-link {
  color: black !important;
}

.terra-dark  .active {
  background-color: #bec1c4 !important;
}

.terra-background {
  background-color: #f5f5f5;
}

.terra-background:hover {
  background-color: #f5f5f5;
}

.terra-body {
  margin-top: 80px;
}

.terra-right {
  text-align: right;
}

.terra-left {
  text-align: left;
}


.terra-center {
  text-align: center;
}



.terra-home {
  font-size: 18px;
  height: 18px;
  display: inline-table;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  color: #FFFFFF;
 }

.terra-alert {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 18px;
  display: inline-table;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  color: #FFFFFF;
}

.terra-recebido {
  background-color: #464f82;
}

.terra-pago {
  background-color: #2c6e2b;
}

.terra-a-vencer {
  background-color: #f09e2b;
}

.terra-vencido {
  background-color: #e62e2e;
}

.terra-a-receber {
  background-color: #8447a1;
}

.terra-estimado {
   background-color: #807a71; 
}

.terra-table {
  font-size: 15px;
  width: 100%;
}

.terra-table-col-info {
  text-align: center;
}

.terra-saldo {
  background-color: #f5f5f5;
  font-weight: bold;
}

.terra-icone: {
  background-color: white;
  border: 0px;
}

.terra-icone:hover {
  color: #736d6d;
  background-color: white;
  border-color: white;
  border: 0px;
}

.terra-icone-background: {
  background-color: #f5f5f5;
  border: 0px;
}

.terra-icone-background:hover {
  color: #736d6d;
  background-color: #f5f5f5;
  border-color: white;
  border: 0px;
}

.terra-dropdown {
  background-color: #bec1c4;
  border: 0px;
  color: black;
}

.terra-dropdown:hover {
  background-color: #bec1c4;
  border: 0px;
  color: black;
}

.terra-icone-black {
  color: black;
}

.terra-icone-red {
  color: #e62e2e;
}

.terra-icone-green {
  color: #2c6e2b;
}

.terra-icone-blue{
  color: #2e3975;
}

.terra-button {
  background-color: white;
  border: 0px;
}

.terra-button:hover {
  background-color: white;
  border: 0px;
}

.terra-button:focus {
  background-color: white;
  border: 0px;
}

.terra-button-background {
  background-color: #f5f5f5;
  border: 0px;
}

.terra-navbar {
  text-align: center;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.terra-form-hour {
  width: 100px;
}

.terra-form-dolar {
  width: 120px;
}

.terra-form-dropdown {
  width: 160px;
}

